<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign Up</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="/assets/css/style.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Audiowide|Shadows+Into+Light" rel="stylesheet">
  <link href="/assets/css/style.css" rel="stylesheet">
</head>

<body>
  <header class="hero is-primary is-bold">
    <a class="navbar-brand" href="/logout">Logout</a>
    <div class="hero-body">
      <a href="/main">
        <div class="container">
          <img class="tree" src="https://cdn3.iconfinder.com/data/icons/beach-icons/496/Palm_Trees-512.png" height="100"
            width="100" align="left" alt="">
          <h1 class="title">
            RAFT
          </h1>
          <h2 class="subtitle">
            Stop drowning, Start planning..
          </h2>
          <img class="raft" src="https://image.flaticon.com/icons/png/512/208/208590.png" height="100" width="100"
            align="right" alt="">

        </div>
      </a>
    </div>
  </header>

  <main>
    <div class="container" id="container">
      <h2 class="sign-header">Sign Up Form</h2>
      <form class="signup">
        <div class="field">
          <p class="control has-icons-left has-icons-right">
            <input class="input" type="email" id="email-input" placeholder="Email">
            <span class="icon is-small is-left">
              <i class="fas fa-envelope"></i>
            </span>
            <span class="icon is-small is-right">
              <i class="fas fa-check"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control has-icons-left">
            <input class="input" type="password" id="password-input" placeholder="Password">
            <span class="icon is-small is-left">
              <i class="fas fa-lock"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <p class="control">
            <button id="signup-submit" class="button is-primary is-rounded" type="submit">
              Sign Up
            </button>
          </p>
        </div>
      </form>
      <br />
      <p>Or log in <a href="/">here</a></p>
    </div>
  </main>

  <footer class="footer">
    <div class="team">
      <h3>TEAM TIGER SHARKS</h3>
      <ul>
        <li>Alvin Joesph</li>
        <li>James Cho</li>
        <li>Kelan Moffatt</li>
        <li>Calum Ragan</li>
      </ul>
    </div>
    <div class="content has-text-centered">
      <img class="shark" src="/assets/images/tigershark2.png" alt="" height="150" width="150" align="left">
      <p class="title is-1 is-primary">
        &copy;RAFT
      </p>
    </div>
  </footer>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/signup.js"></script>
</body>

</html>